USE [EMB_Production]
GO
/****** Object:  Table [dbo].[Gen_Brands]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[BrandName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[BranchId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[RecordTimeStamp] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Categories]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[MeasureType] [nvarchar](50) NULL,
	[MeasureValue] [decimal](18, 2) NULL,
	[Quantity] [nvarchar](50) NULL,
	[Length] [nvarchar](50) NULL,
	[Weight] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[BranchId] [int] NULL,
	[RecordTimeStamp] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Tax] [decimal](18, 2) NULL,
	[Category_Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Components]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Components](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[D_Code] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[HeadToHead] [int] NULL,
	[Stitch] [int] NULL,
	[Tilla] [int] NULL,
	[Seq_A] [int] NULL,
	[Seq_B] [int] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[BranchId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Designs]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Designs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NULL,
	[EntryType] [nvarchar](50) NULL,
	[Fabric] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Extra_Service] [nvarchar](50) NULL,
	[Code] [int] NULL,
	[DNo] [int] NULL,
	[Head_Email] [int] NULL,
	[Req_Repeats] [int] NULL,
	[Head] [int] NULL,
	[Stitches] [int] NULL,
	[Seq] [int] NULL,
	[W_Head] [int] NULL,
	[Colors] [int] NULL,
	[Price] [int] NULL,
	[Component_Code] [int] NULL,
	[DCode] [int] NULL,
	[CollectionName] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[BranchId] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_JobOrders]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_JobOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[CompId] [int] NULL,
	[ReqRepeats] [int] NULL,
	[ReqHead] [int] NULL,
	[Panni] [int] NULL,
	[Solving] [int] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[BranchId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_MachineParameters]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_MachineParameters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeadToHead] [nvarchar](50) NULL,
	[FrameHeight] [decimal](18, 4) NULL,
	[Deleted] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Machines]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Machines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[BrandId] [int] NULL,
	[ServiceId] [int] NULL,
	[HeadtoHead] [nvarchar](50) NULL,
	[FrameHeight] [nvarchar](50) NULL,
	[HeadsNum] [int] NULL,
	[NeedlesNum] [int] NULL,
	[Serial Number] [nvarchar](50) NULL,
	[Calling Number] [nvarchar](50) NULL,
	[PurchaseDate] [datetime] NULL,
	[Warranty] [int] NULL,
	[ServiceEnd] [date] NULL,
	[ServiceNext] [date] NULL,
	[Deleted] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[RecordTimeStamp] [datetime] NOT NULL,
	[BranchId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Products]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatId] [int] NULL,
	[Prod_Name] [nvarchar](50) NULL,
	[Prod_Code] [nvarchar](50) NULL,
	[Prod_Description] [nvarchar](max) NULL,
	[Prod_Qty] [nvarchar](50) NULL,
	[Prod_Length] [nvarchar](50) NULL,
	[Prod_Weight] [nvarchar](50) NULL,
	[Prod_DateIn] [date] NULL,
	[Prod_DateOut] [date] NULL,
	[Price] [decimal](18, 2) NULL,
	[BranchId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[RecordTimeStamp] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
	[Brand_Name] [nvarchar](50) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Price_Method] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_ServiceRates]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_ServiceRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NULL,
	[Service_Id] [int] NULL,
	[Charge_Fector] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [date] NULL,
	[RecordTimeStamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_ServiceType]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_ServiceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Type] [nvarchar](50) NULL,
	[Service_TypeDescription] [text] NULL,
	[BranchId] [int] NULL,
	[RecordTimeStamp] [datetime] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_Stock]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdId] [int] NULL,
	[InStock] [bit] NULL,
	[New] [bit] NULL,
	[In] [bit] NULL,
	[Out] [bit] NULL,
	[StockDescription] [nvarchar](max) NULL,
	[Rack] [nvarchar](50) NULL,
	[Shelf] [nvarchar](50) NULL,
	[MeasureValue] [nvarchar](50) NULL,
	[TotalStock] [nvarchar](50) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[BillNumber] [nvarchar](50) NULL,
	[GatePass] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[RecordTimeStamp] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[StockStatus] [nvarchar](50) NULL,
	[ProductName] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[BrandName] [nvarchar](50) NULL,
	[VendorName] [nvarchar](50) NULL,
	[Identity] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_TheServices]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_TheServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Service_Type] [int] NULL,
	[Service_Name] [nvarchar](50) NULL,
	[Service_RateCharge] [int] NULL,
	[Machine_Device] [int] NULL,
	[Max_Range] [nchar](10) NULL,
	[Max_Charges] [decimal](18, 2) NULL,
	[Min_Charges] [decimal](18, 2) NULL,
	[Field1] [decimal](18, 2) NULL,
	[Field2] [decimal](18, 2) NULL,
	[BranchId] [int] NULL,
	[RecordTimeStamp] [datetime] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gen_ThreadUsage]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gen_ThreadUsage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[CompId] [int] NULL,
	[ThreadId] [nvarchar](50) NULL,
	[Usage] [decimal](18, 2) NULL,
	[Type] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[BranchId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hr_Customers]    Script Date: 03/10/2025 10:55:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hr_Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [text] NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[NTN_Number] [text] NULL,
	[STRN_Number] [text] NULL,
	[Customer_Address] [text] NULL,
	[Customer_City] [nchar](10) NULL,
	[Customer_Country] [nchar](10) NULL,
	[Customer_Email] [text] NULL,
	[Customer_Email2] [text] NULL,
	[Customer_Phone] [text] NULL,
	[Customer_Phone2] [text] NULL,
	[Customer_Mobile] [text] NULL,
	[Customer_Fax] [text] NULL,
	[Customer_Credit_Limit_CAP] [decimal](18, 2) NULL,
	[Customer_Invoice_Period] [int] NULL,
	[BranchId] [int] NOT NULL,
	[RecordTimeStamp] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gen_Brands] ON 

INSERT [dbo].[Gen_Brands] ([Id], [Code], [BrandName], [Description], [BranchId], [Deleted], [Active], [RecordTimeStamp], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Address]) VALUES (25, N'10106', N'North Face', N'Blue Lather Bag', 1, 0, 1, CAST(N'2025-07-24T12:33:58.110' AS DateTime), 1, CAST(N'2025-07-24T12:33:58.110' AS DateTime), 1, CAST(N'2025-07-24T12:33:58.110' AS DateTime), N'Street No. 123')
INSERT [dbo].[Gen_Brands] ([Id], [Code], [BrandName], [Description], [BranchId], [Deleted], [Active], [RecordTimeStamp], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Address]) VALUES (26, N'3986', N'Levvis', N'white jacket', 1, 0, 1, CAST(N'2025-07-24T12:34:15.910' AS DateTime), 1, CAST(N'2025-07-24T12:34:15.910' AS DateTime), 1, CAST(N'2025-07-24T12:34:15.910' AS DateTime), N'Street No.53')
INSERT [dbo].[Gen_Brands] ([Id], [Code], [BrandName], [Description], [BranchId], [Deleted], [Active], [RecordTimeStamp], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Address]) VALUES (27, N'12076', N'Adidas ', N'Blue Shirts', 1, 0, 1, CAST(N'2025-07-24T12:34:38.053' AS DateTime), 1, CAST(N'2025-07-24T12:34:38.053' AS DateTime), 1, CAST(N'2025-07-24T12:34:38.053' AS DateTime), N'Street No.758')
SET IDENTITY_INSERT [dbo].[Gen_Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_Categories] ON 

INSERT [dbo].[Gen_Categories] ([Id], [BrandId], [Name], [Code], [Description], [MeasureType], [MeasureValue], [Quantity], [Length], [Weight], [Price], [Active], [Deleted], [BranchId], [RecordTimeStamp], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Tax], [Category_Name]) VALUES (4, NULL, N'North Face', N'10106', N'Blue Lather Bag', N'Length', CAST(343.00 AS Decimal(18, 2)), N'343', NULL, NULL, CAST(800.00 AS Decimal(18, 2)), NULL, NULL, 234, CAST(N'2025-10-13T20:52:02.000' AS DateTime), NULL, NULL, NULL, NULL, CAST(3.00 AS Decimal(18, 2)), N'T-Shirt')
INSERT [dbo].[Gen_Categories] ([Id], [BrandId], [Name], [Code], [Description], [MeasureType], [MeasureValue], [Quantity], [Length], [Weight], [Price], [Active], [Deleted], [BranchId], [RecordTimeStamp], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Tax], [Category_Name]) VALUES (22, NULL, N'North Face', N'10102', N'Blue Lather Bag', N'Length', CAST(343.00 AS Decimal(18, 2)), NULL, NULL, NULL, CAST(2000.00 AS Decimal(18, 2)), NULL, NULL, 4, CAST(N'2025-07-30T20:52:02.000' AS DateTime), NULL, NULL, NULL, NULL, CAST(10.00 AS Decimal(18, 2)), N'Bag-2')
SET IDENTITY_INSERT [dbo].[Gen_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_Components] ON 

INSERT [dbo].[Gen_Components] ([Id], [Code], [D_Code], [Name], [HeadToHead], [Stitch], [Tilla], [Seq_A], [Seq_B], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, 45012, 11001, N'Levvis', 544, 3456, 76, 78, 23, 1, 0, 90, 1, CAST(N'2025-07-25T10:08:49.163' AS DateTime), NULL, CAST(N'2025-07-28T17:56:22.857' AS DateTime))
INSERT [dbo].[Gen_Components] ([Id], [Code], [D_Code], [Name], [HeadToHead], [Stitch], [Tilla], [Seq_A], [Seq_B], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, 10102, 8766, N'Puma ', 5764, 5645, 65, 456, 98, 1, 0, 21, NULL, CAST(N'2025-07-28T17:52:29.253' AS DateTime), NULL, CAST(N'2025-07-28T17:55:39.763' AS DateTime))
INSERT [dbo].[Gen_Components] ([Id], [Code], [D_Code], [Name], [HeadToHead], [Stitch], [Tilla], [Seq_A], [Seq_B], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (6, 3231, 24522, N'North Face', 765, 8765, 534, 78, 43, 1, 0, 5, NULL, CAST(N'2025-08-02T15:51:46.460' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Gen_Components] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_JobOrders] ON 

INSERT [dbo].[Gen_JobOrders] ([Id], [Code], [CompId], [ReqRepeats], [ReqHead], [Panni], [Solving], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (10, 10102, 2, 76, 456, 567, 76, 1, NULL, 4, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Gen_JobOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_MachineParameters] ON 

INSERT [dbo].[Gen_MachineParameters] ([Id], [HeadToHead], [FrameHeight], [Deleted], [Active], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (7, N'765', CAST(54.0000 AS Decimal(18, 4)), 0, 0, 56, CAST(N'2025-08-09T18:23:42.780' AS DateTime), 45, CAST(N'2025-08-09T18:23:42.780' AS DateTime))
INSERT [dbo].[Gen_MachineParameters] ([Id], [HeadToHead], [FrameHeight], [Deleted], [Active], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'544', CAST(700.0000 AS Decimal(18, 4)), 0, 0, 134, CAST(N'2025-08-09T18:23:58.287' AS DateTime), 3567, CAST(N'2025-08-09T18:23:58.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gen_MachineParameters] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_Machines] ON 

SET IDENTITY_INSERT [dbo].[Gen_Machines] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_Products] ON 

SET IDENTITY_INSERT [dbo].[Gen_Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_ServiceRates] ON 

INSERT [dbo].[Gen_ServiceRates] ([Id], [Customer_Id], [Service_Id], [Charge_Fector], [Remarks], [BranchId], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [RecordTimeStamp]) VALUES (51, 13, 79, N'65', N'Remarks', 4, 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date), CAST(N'2025-08-09T18:15:40.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gen_ServiceRates] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_ServiceType] ON 

INSERT [dbo].[Gen_ServiceType] ([Id], [Service_Type], [Service_TypeDescription], [BranchId], [RecordTimeStamp], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'654', N'ServiceTypeuytuty', 4, CAST(N'2025-07-30T20:52:02.000' AS DateTime), 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date))
INSERT [dbo].[Gen_ServiceType] ([Id], [Service_Type], [Service_TypeDescription], [BranchId], [RecordTimeStamp], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (10, N'11001', N'ServiceTypeuioioo', 234, CAST(N'2025-08-05T10:54:54.000' AS DateTime), 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date))
SET IDENTITY_INSERT [dbo].[Gen_ServiceType] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_Stock] ON 

SET IDENTITY_INSERT [dbo].[Gen_Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_TheServices] ON 

INSERT [dbo].[Gen_TheServices] ([Id], [Service_Type], [Service_Name], [Service_RateCharge], [Machine_Device], [Max_Range], [Max_Charges], [Min_Charges], [Field1], [Field2], [BranchId], [RecordTimeStamp], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (79, NULL, N'Service name2', 45, 65, N'768       ', CAST(3454.00 AS Decimal(18, 2)), CAST(6456.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 4, CAST(N'2025-08-09T18:18:20.247' AS DateTime), 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date))
INSERT [dbo].[Gen_TheServices] ([Id], [Service_Type], [Service_Name], [Service_RateCharge], [Machine_Device], [Max_Range], [Max_Charges], [Min_Charges], [Field1], [Field2], [BranchId], [RecordTimeStamp], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (80, NULL, N'Service name5', 457, 79, N'2634      ', CAST(68.00 AS Decimal(18, 2)), CAST(67.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 7, CAST(N'2025-08-09T18:18:34.847' AS DateTime), 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date))
INSERT [dbo].[Gen_TheServices] ([Id], [Service_Type], [Service_Name], [Service_RateCharge], [Machine_Device], [Max_Range], [Max_Charges], [Min_Charges], [Field1], [Field2], [BranchId], [RecordTimeStamp], [Active], [Deleted], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (81, NULL, N'Service name4', 567, 4777, N'2634      ', CAST(3454.00 AS Decimal(18, 2)), CAST(6456.00 AS Decimal(18, 2)), CAST(102.00 AS Decimal(18, 2)), CAST(46.00 AS Decimal(18, 2)), 6, CAST(N'2025-08-09T18:27:12.780' AS DateTime), 1, 0, 1, CAST(N'2025-08-09' AS Date), 1, CAST(N'2025-08-09' AS Date))
SET IDENTITY_INSERT [dbo].[Gen_TheServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Gen_ThreadUsage] ON 

INSERT [dbo].[Gen_ThreadUsage] ([Id], [Code], [CompId], [ThreadId], [Usage], [Type], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (7, 1200, 7, N'Thread02', CAST(2500.00 AS Decimal(18, 2)), N'thread', 1, 0, 123, 1, CAST(N'2025-07-23T19:46:45.080' AS DateTime), 1, CAST(N'2025-07-30T10:28:39.730' AS DateTime))
INSERT [dbo].[Gen_ThreadUsage] ([Id], [Code], [CompId], [ThreadId], [Usage], [Type], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, 1200, 6, N'Thread03', CAST(9000.00 AS Decimal(18, 2)), N'thread', 1, 0, 6, 1, CAST(N'2025-07-23T19:46:37.670' AS DateTime), 1, CAST(N'2025-07-30T10:28:48.003' AS DateTime))
INSERT [dbo].[Gen_ThreadUsage] ([Id], [Code], [CompId], [ThreadId], [Usage], [Type], [Active], [Deleted], [BranchId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (12, 1200, 2, N'Seq1', CAST(400.00 AS Decimal(18, 2)), N'seq', 1, 0, 4, NULL, CAST(N'2025-07-30T10:29:41.330' AS DateTime), NULL, CAST(N'2025-07-30T10:30:28.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gen_ThreadUsage] OFF
GO
SET IDENTITY_INSERT [dbo].[Hr_Customers] ON 

SET IDENTITY_INSERT [dbo].[Hr_Customers] OFF
GO
ALTER TABLE [dbo].[Gen_Brands]  WITH CHECK ADD  CONSTRAINT [FK_Gen_Brands_Gen_Brands] FOREIGN KEY([Id])
REFERENCES [dbo].[Gen_Brands] ([Id])
GO
ALTER TABLE [dbo].[Gen_Brands] CHECK CONSTRAINT [FK_Gen_Brands_Gen_Brands]
GO
ALTER TABLE [dbo].[Gen_Categories]  WITH CHECK ADD  CONSTRAINT [FK_Gen_Categories_Gen_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Gen_Brands] ([Id])
GO
ALTER TABLE [dbo].[Gen_Categories] CHECK CONSTRAINT [FK_Gen_Categories_Gen_Brands]
GO
ALTER TABLE [dbo].[Gen_Machines]  WITH CHECK ADD  CONSTRAINT [FK_Gen_Machines_Gen_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Gen_Brands] ([Id])
GO
ALTER TABLE [dbo].[Gen_Machines] CHECK CONSTRAINT [FK_Gen_Machines_Gen_Brands]
GO
ALTER TABLE [dbo].[Gen_Machines]  WITH CHECK ADD  CONSTRAINT [FK_Gen_Machines_Gen_TheServices] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Gen_TheServices] ([Id])
GO
ALTER TABLE [dbo].[Gen_Machines] CHECK CONSTRAINT [FK_Gen_Machines_Gen_TheServices]
GO
ALTER TABLE [dbo].[Gen_ServiceRates]  WITH CHECK ADD  CONSTRAINT [FK_Gen_ServiceRates_Gen_TheServices] FOREIGN KEY([Service_Id])
REFERENCES [dbo].[Gen_TheServices] ([Id])
GO
ALTER TABLE [dbo].[Gen_ServiceRates] CHECK CONSTRAINT [FK_Gen_ServiceRates_Gen_TheServices]
GO
ALTER TABLE [dbo].[Gen_ServiceRates]  WITH CHECK ADD  CONSTRAINT [FK_Gen_ServiceRates_Hr_Customers] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Hr_Customers] ([Id])
GO
ALTER TABLE [dbo].[Gen_ServiceRates] CHECK CONSTRAINT [FK_Gen_ServiceRates_Hr_Customers]
GO
ALTER TABLE [dbo].[Gen_Stock]  WITH CHECK ADD  CONSTRAINT [FK_Gen_Stock_Gen_Products] FOREIGN KEY([ProdId])
REFERENCES [dbo].[Gen_Products] ([Id])
GO
ALTER TABLE [dbo].[Gen_Stock] CHECK CONSTRAINT [FK_Gen_Stock_Gen_Products]
GO
ALTER TABLE [dbo].[Gen_TheServices]  WITH CHECK ADD  CONSTRAINT [FK_Gen_TheServices_Gen_ServiceType] FOREIGN KEY([Service_Type])
REFERENCES [dbo].[Gen_ServiceType] ([Id])
GO
ALTER TABLE [dbo].[Gen_TheServices] CHECK CONSTRAINT [FK_Gen_TheServices_Gen_ServiceType]
GO
