<connectionStrings>
	<add name="EMB_ProductionEntities2" 
connectionString="metadata=res://*/EMB_ProductionEntities.csdl|res://*/EMB_ProductionEntities.ssdl|res://*/EMB_ProductionEntities.msl;
provider=System.Data.SqlClient;provider connection string=&quot;
data source=DESKTOP-ETV4NT9\SQLEXPRESS;
initial catalog=EMB_Production;integrated security=True;trustservercertificate=True;
MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>